include doc/*.rst
include sandbox/test/*.py
include AUTHORS
include ChangeLog
include INSTALL
include MANIFEST.in
include TODO
include execfile.py
include interpreter.py
include tests.py
include test_restricted.py
